$medium: 800px;

.custom-card {
    .card {
        padding: 20px;
        width: 20rem;
        height: 35rem;
        border-radius: 5px;

        @media screen and (max-width: $medium) {
            width: 24rem;
        }
    }

    .read-more-link {
        float: right;
    }

    .card-footer {
        background-color: transparent;
        border-top: none;
    }

    .card-img-top {
        min-height: 12rem;
        max-height: 12rem;
    }
}