@import "~bootstrap/scss/bootstrap";

body {
    background-color: #ffffff;
    font-size: 14px;

    .spinner {
        width: 100px;
        height: 100px;
    }

    img {
        cursor: pointer;
    }
}

p:focus,
span:focus,
button:focus,
.form-control:focus {
    outline: none;
}

html,
body,
#root,
#root>div {
    height: auto;
    width: 100%;
}